
/*Pas 8: Continuarea in CSS*/

/*Le aratam cum functioneaza background-color, color, font-size, text-align*/
.croco{
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  /*Pe langa explicatia cu id-ul, le aratam ca si functioneaza stilizarea*/
  #color{
      color: darkred;
  }
  
  /*Mai repetam o data notiunile de mai sus, si introducem border-ul*/
  .butonas{
      background-color: aqua;
      color: black;
      border: none;
  }
  
  /*Explicam ce face hoverul*/
  .butonas:hover{
      background-color: aquamarine;
  }
  
  /*Mai ne jucam putin cu clasa*/
  .container{
      background-color: lightgreen;
      text-align: center;
  }
  
  /*Le explicam ca putem accesa toate elementele de tip h2 si sa le dam prioritatile pe care le vrem */
  h2{
     color: orange;  
  }
  
  /*Le explicam ca putem accesa elementele h3 toate elementele din div de tip h2 si sa le dam prioritatile pe care le vrem */
  div h3{
      background-color: pink;
  }
  
  /*Le explicam ca eu in clasa respectiva accesez butonul acela*/
  .container button{
      background-color: black;  
  }
  
  /*Le explicam ca am accesat butonul si paragraful din aceea clasa si acum proprietatea se pune pe ambele*/
  .container button, .container p{
      color: red;
  }
  
  /*Facem resize la imagini, in unitati absolute, le introducem notiunea de border, si dupa trecem la urmatorul capitol*/
  .imagine1{
      width:190px;
      height:200px;
      border: 1px solid black;
      border-radius: 10%;
      /*trecem pe urmatorul slide de box model si dupa explicam*/
      padding-right: 10px; 
      margin-left:10px;
  }
  
  /*Facem resize la imagini, in unitati relative*/
  .imagine2{
      width:20vw;
      height:60vh;
      border: 1px solid black;
      /*explicam care ordinea -> top, right, bottom, left*/
      margin: 10px 0px 0px 5px;
  }
  
  /*La final, le aratam cum functioneaza selectorul universal (reprezentantul paginii html) 
  si le mentionam ca de obicei se face la inceput*/
  /* * {
      font-size: 10px;
      margin: 0;
      padding: 0;
    } */

    